.idea/**
.ipynb_checkpoints/**
zzInstalls/**
zzObsolete/**
datasets/**
TEMP/**
zzExperiments/**
zzTests/**
balloon/**

output/**

zzGitPush.bat
zzGitPush.bat.bak

data/videos**
data/.ipynb_checkpoints/**
submissions/**


